doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title 400 - Bad request.
  link(rel='shortcut icon' href='/favicon.png' type='image/png')
  link(rel='stylesheet' type='text/css' href='/js/css/style.css')
body.directory
  div(style='margin-left: 42px;')
    h1 Error 400: Bad Request #{code ? ('(Code: ' + code + ')') : ''}
    div(style='display:inline-block;padding-bottom:18px;margin-bottom:18px;border-bottom:1px solid #2b2b2b;') Sorry, something went wrong (or you just requested a bad URL) ..
    br
    a(style='color:#fff;', href='/') Click here to return.